
@import "./lib/colors";
@import "./lib/tipografia";

body
{
  background-color: $light_color;
}

nav{
    height: 100x;
    background-color: $primary_color;
    a{
        color: $light_color;
        text-decoration: none;
    }
}

h1{
  color: $second_color;
  font-family: $font;
  font-size: 10vh;
  text-align: center;
  padding: 15px;
}

#hero
{
  display: flex;
  width: 80vw;
  height: 85vh;
  margin: 0px auto;
}

.grid-main{
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    margin: 0px auto;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
}

.item-grid{
  width: 100%;
  height: 100%;
}

p{
  font-family: $font;
  color: $dark_color;
  text-align: justify;
  font-size: 3vh;
  padding: 1vh 4vw;
}
